* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

label,
input,
textarea {
  display: block;
  margin: 0.5rem 0;
}

label {
  font-weight: bold;
}

input,
textarea {
  font: inherit;
  padding: 0.2rem 0.4rem;
  width: 100%;
  max-width: 30rem;
  border: 1px solid #ccc;
}

input:focus,
textarea:focus {
  outline: none;
  background: #fff5f9;
}

button {
  font: inherit;
  background: #ff0062;
  border: 0px solid #ff0062;
  cursor: pointer;
  color: rgb(22, 1, 1);
  display: flex;
  max-width: 180px;
  font-weight: 800;
  align-items: center;
  border-radius: 8px;

  padding: 0px;
  margin: 0px;
}
.btn {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  padding: 0;
  text-align: center;
  font-size: 10px;
}

button:focus {
  outline: none;
}

button:hover,
button:active {
  background: #a80041;
  border-color: #a80041;
}

.projects {
  margin: 1rem;
  border: 1px solid #ff0062;
}

.projects header {
  background: #ff0062;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#finished-project {
  border-color: #0044ff;
}

#finished-project header {
  background: #0044ff;
}

.projects h2 {
  margin: 0;
  color: white;
}

.projects ul {
  list-style: none;
  margin: 0;
  padding: 1rem;
}

.projects li {
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.26);
  padding: 1rem;
  margin: 1rem;
}

.projects li h2 {
  color: #ff0062;
  margin: 0.5rem 0;
}

#finished-projects li h2 {
  color: #0044ff;
}

.projects li h3 {
  color: #575757;
  font-size: 1rem;
}

.project li p {
  margin: 0;
}

.droppable {
  background: #ffe3ee;
}

#finished-projects .droppable {
  background: #d6e1ff;
}

#user-input {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: left;
  margin: 1rem;
  padding: 1rem;
  /* border: 1px solid #ff0062; */
  background: #f7f7f7;
  box-shadow: 0px 10px 32px #ccccccc5;
  border-radius: 8px;
}

#title,
#people,
#description {
  padding: 10px 22px;
  align-items: center;
  outline: none;
  /* border: 1px solid #ff0062; */
  /* box-shadow: 2px 0px 10px 2px #ccccccd0; */
  border-radius: 8px;
  background-color: #ffffff;
  font-size: 18px;
  color: #050222;
  font-weight: 500;
}
